{{define "page"}}
<h1 class="py-4 text-4xl semibold tracking-tight">Contact Page</h1>
<p class="text-gray-800">
To get in touch with us, send an email to <a class="underline" href="mailto:mikkel@skewedbytes.com">mikkel@skewedbytes.com</a>
</p>
{{end}}